In [1]:
from pathlib import Path

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [2]:
data = pd.read_parquet(Path("data") / "train.parquet")

In [3]:
df1 = pd.read_csv('2020.csv')

In [4]:
df2 = pd.read_csv('2021.csv')

In [5]:
weather = pd.concat([df1, df2], ignore_index=True)

In [6]:
weather.head(10)

,date,hour,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco,Coco
0,2020-01-01,0,0.8,-0.1,94,NaN,NaN,170.0,5.4,NaN,1032.5,NaN,NaN,NaN
1,2020-01-01,1,-0.7,-1.3,96,0.0,NaN,200.0,9.4,NaN,1032.2,NaN,NaN,NaN
2,2020-01-01,2,-0.3,-0.6,98,0.0,NaN,190.0,7.6,NaN,1032.2,NaN,NaN,NaN
3,2020-01-01,3,0.0,-0.3,98,NaN,NaN,220.0,5.4,NaN,1031.9,NaN,NaN,NaN
4,2020-01-01,4,0.3,0.0,98,0.0,NaN,210.0,7.6,NaN,1031.6,NaN,NaN,NaN
5,2020-01-01,5,0.5,0.2,98,0.0,NaN,170.0,3.6,NaN,1031.9,NaN,NaN,NaN
6,2020-01-01,6,0.7,0.4,98,NaN,NaN,160.0,5.4,NaN,1031.9,NaN,NaN,NaN
7,2020-01-01,7,0.8,0.5,98,0.0,NaN,170.0,11.2,NaN,1031.9,NaN,NaN,NaN
8,2020-01-01,8,1.0,0.7,98,0.0,NaN,160.0,11.2,NaN,1032.2,NaN,NaN,NaN
9,2020-01-01,9,1.4,1.3,99,NaN,NaN,160.0,11.2,NaN,1032.5,NaN,NaN,NaN

In [7]:
weather = weather.drop(columns=['snow', 'wpgt','tsun','coco','Coco'])

In [8]:
from datetime import datetime, timedelta
#weather['date'] = datetime.strptime(weather['date'], '%Y-%m-%d %H:%M:%S')
weather["date"] = pd.to_datetime(weather["date"])
weather["hour"] = pd.to_timedelta(weather['hour'], unit='h')
weather['date'] = weather['date'] + weather['hour']
weather = weather.drop(columns=['hour'])

In [17]:
full_data = data.merge(weather, on='date')
full_data

,counter_id,counter_name,site_id,site_name,bike_count,date,counter_installation_date,counter_technical_id,latitude,longitude,log_bike_count,temp,dwpt,rhum,prcp,wdir,wspd,pres
0,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,0.0,2020-09-01 02:00:00,2013-01-18,Y2H15027244,48.846028,2.375429,0.000000,13.0,9.4,79,0.0,290.0,3.6,1019.9
1,100007049-101007049,28 boulevard Diderot O-E,100007049,28 boulevard Diderot,2.0,2020-09-01 02:00:00,2013-01-18,Y2H15027244,48.846028,2.375429,1.098612,13.0,9.4,79,0.0,290.0,3.6,1019.9
2,100036718-104036718,39 quai François Mauriac NO-SE,100036718,39 quai François Mauriac,5.0,2020-09-01 02:00:00,2017-07-12,Y2H17021629,48.834360,2.377000,1.791759,13.0,9.4,79,0.0,290.0,3.6,1019.9
3,100036718-103036718,39 quai François Mauriac SE-NO,100036718,39 quai François Mauriac,1.0,2020-09-01 02:00:00,2017-07-12,Y2H17021629,48.834360,2.377000,0.693147,13.0,9.4,79,0.0,290.0,3.6,1019.9
4,100036719-104036719,18 quai de l'Hôtel de Ville NO-SE,100036719,18 quai de l'Hôtel de Ville,0.0,2020-09-01 02:00:00,2017-07-12,Y2H19027732,48.853720,2.357020,0.000000,13.0,9.4,79,0.0,290.0,3.6,1019.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450622,100060178-101060178,90 Rue De Sèvres SO-NE,100060178,90 Rue De Sèvres,18.0,2021-08-09 22:00:00,2020-07-22,Y2H20052705,48.846380,2.315290,2.944439,18.4,13.0,71,0.0,220.0,5.4,1017.8
450623,100063175-353277233,20 Avenue de Clichy NO-SE,100063175,20 Avenue de Clichy,33.0,2021-08-09 22:00:00,2020-07-22,Y2H20073268,48.885290,2.326660,3.526361,18.4,13.0,71,0.0,220.0,5.4,1017.8
450624,100063175-353277235,20 Avenue de Clichy SE-NO,100063175,20 Avenue de Clichy,14.0,2021-08-09 22:00:00,2020-07-22,Y2H20073268,48.885290,2.326660,2.708050,18.4,13.0,71,0.0,220.0,5.4,1017.8
450625,300014702-353245972,254 rue de Vaugirard NE-SO,300014702,254 rue de Vaugirard,21.0,2021-08-09 22:00:00,2020-11-29,Y2H20114504,48.839770,2.301980,3.091042,18.4,13.0,71,0.0,220.0,5.4,1017.8
450626,300014702-353245971,254 rue de Vaugirard SO-NE,300014702,254 rue de Vaugirard,18.0,2021-08-09 22:00:00,2020-11-29,Y2H20114504,48.839770,2.301980,2.944439,18.4,13.0,71,0.0,220.0,5.4,1017.8

In [19]:
#CAN BE DONE USING SIMPLEIMPUTER IN PIPELINING
full_data = full_data.fillna(method='bfill')
full_data

,counter_id,counter_name,site_id,site_name,bike_count,date,counter_installation_date,counter_technical_id,latitude,longitude,log_bike_count,temp,dwpt,rhum,prcp,wdir,wspd,pres
0,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,0.0,2020-09-01 02:00:00,2013-01-18,Y2H15027244,48.846028,2.375429,0.000000,13.0,9.4,79,0.0,290.0,3.6,1019.9
1,100007049-101007049,28 boulevard Diderot O-E,100007049,28 boulevard Diderot,2.0,2020-09-01 02:00:00,2013-01-18,Y2H15027244,48.846028,2.375429,1.098612,13.0,9.4,79,0.0,290.0,3.6,1019.9
2,100036718-104036718,39 quai François Mauriac NO-SE,100036718,39 quai François Mauriac,5.0,2020-09-01 02:00:00,2017-07-12,Y2H17021629,48.834360,2.377000,1.791759,13.0,9.4,79,0.0,290.0,3.6,1019.9
3,100036718-103036718,39 quai François Mauriac SE-NO,100036718,39 quai François Mauriac,1.0,2020-09-01 02:00:00,2017-07-12,Y2H17021629,48.834360,2.377000,0.693147,13.0,9.4,79,0.0,290.0,3.6,1019.9
4,100036719-104036719,18 quai de l'Hôtel de Ville NO-SE,100036719,18 quai de l'Hôtel de Ville,0.0,2020-09-01 02:00:00,2017-07-12,Y2H19027732,48.853720,2.357020,0.000000,13.0,9.4,79,0.0,290.0,3.6,1019.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450622,100060178-101060178,90 Rue De Sèvres SO-NE,100060178,90 Rue De Sèvres,18.0,2021-08-09 22:00:00,2020-07-22,Y2H20052705,48.846380,2.315290,2.944439,18.4,13.0,71,0.0,220.0,5.4,1017.8
450623,100063175-353277233,20 Avenue de Clichy NO-SE,100063175,20 Avenue de Clichy,33.0,2021-08-09 22:00:00,2020-07-22,Y2H20073268,48.885290,2.326660,3.526361,18.4,13.0,71,0.0,220.0,5.4,1017.8
450624,100063175-353277235,20 Avenue de Clichy SE-NO,100063175,20 Avenue de Clichy,14.0,2021-08-09 22:00:00,2020-07-22,Y2H20073268,48.885290,2.326660,2.708050,18.4,13.0,71,0.0,220.0,5.4,1017.8
450625,300014702-353245972,254 rue de Vaugirard NE-SO,300014702,254 rue de Vaugirard,21.0,2021-08-09 22:00:00,2020-11-29,Y2H20114504,48.839770,2.301980,3.091042,18.4,13.0,71,0.0,220.0,5.4,1017.8
450626,300014702-353245971,254 rue de Vaugirard SO-NE,300014702,254 rue de Vaugirard,18.0,2021-08-09 22:00:00,2020-11-29,Y2H20114504,48.839770,2.301980,2.944439,18.4,13.0,71,0.0,220.0,5.4,1017.8

In [11]:
def _encode_dates(X):
    X = X.copy()  # modify a copy of X
    # Encode the date information from the DateOfDeparture columns
    X.loc[:, "year"] = X["date"].dt.year
    X.loc[:, "month"] = X["date"].dt.month
    X.loc[:, "day"] = X["date"].dt.day
    X.loc[:, "weekday"] = X["date"].dt.weekday
    X.loc[:, "hour"] = X["date"].dt.hour

    # Finally we can drop the original columns from the dataframe
    return X.drop(columns=["date"])

In [12]:
from sklearn.preprocessing import FunctionTransformer

date_encoder = FunctionTransformer(_encode_dates, validate=False)
date_encoder.fit_transform(full_data[["date"]]).head()

   year  month  day  weekday  hour
0  2020      9    1        1     2
1  2020      9    1        1     2
2  2020      9    1        1     2
3  2020      9    1        1     2
4  2020      9    1        1     2

In [13]:
from sklearn.preprocessing import OneHotEncoder

enc = OneHotEncoder(sparse=False)

enc.fit_transform(_encode_dates(full_data[["date"]])[["hour"]])

array([[0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [14]:
import problem

X_train, y_train = problem.get_train_data()
X_test, y_test = problem.get_test_data()

In [15]:
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import Ridge
from sklearn.pipeline import make_pipeline

date_encoder = FunctionTransformer(_encode_dates)
date_cols = _encode_dates(X_train[["date"]]).columns.tolist()

categorical_encoder = OneHotEncoder(handle_unknown="ignore")
categorical_cols = ["counter_name", "site_name"]

preprocessor = ColumnTransformer(
    [
        ("date", OneHotEncoder(handle_unknown="ignore"), date_cols),
        ("cat", categorical_encoder, categorical_cols),
    ]
)

regressor = Ridge()

pipe = make_pipeline(date_encoder, preprocessor, regressor)
X_train.head()
#pipe.fit(X_train, y_train)

,counter_id,counter_name,site_id,site_name,date,counter_installation_date,counter_technical_id,latitude,longitude
400125,100049407-353255860,152 boulevard du Montparnasse E-O,100049407,152 boulevard du Montparnasse,2020-09-01 01:00:00,2018-12-07,Y2H19070373,48.840801,2.333233
408305,100049407-353255859,152 boulevard du Montparnasse O-E,100049407,152 boulevard du Montparnasse,2020-09-01 01:00:00,2018-12-07,Y2H19070373,48.840801,2.333233
87516,100036719-104036719,18 quai de l'Hôtel de Ville NO-SE,100036719,18 quai de l'Hôtel de Ville,2020-09-01 01:00:00,2017-07-12,Y2H19027732,48.853720,2.357020
98518,100036719-103036719,18 quai de l'Hôtel de Ville SE-NO,100036719,18 quai de l'Hôtel de Ville,2020-09-01 01:00:00,2017-07-12,Y2H19027732,48.853720,2.357020
875137,100063175-353277233,20 Avenue de Clichy NO-SE,100063175,20 Avenue de Clichy,2020-09-01 01:00:00,2020-07-22,Y2H20073268,48.885290,2.326660

In [16]:
from sklearn.metrics import mean_squared_error

print(
    f"Train set, RMSE={mean_squared_error(y_train, pipe.predict(X_train), squared=False):.2f}"
)
print(
    f"Test set, RMSE={mean_squared_error(y_test, pipe.predict(X_test), squared=False):.2f}"
)

NotFittedError: This ColumnTransformer instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.